// 黑白灰
$color-white: #ffffff;
$gray-light: #f5f5f5;  // 浅灰-日间
$gray-light-light: #f5f5f5;  // 浅灰-日间
$gray-light-dark: #e1e4e8;   // 浅灰-夜间
$gray-medium-light: #a9b1bb; // 中灰-日间
$gray-medium-dark: #7f8a94;  // 中灰-夜间
$gray-dark-light: #494E52;   // 深灰-日间
$gray-dark-dark: #2d3134;    // 深灰-夜间
$gray-dark-darker: #1a1a1a;  // 深灰-更深
$gray-dark: #000000;  // 深灰-最深

// 主题色
$color-pink: #DF7983;
$color-blue-light: #77BBDB;

