---
layout: compress
---

<!doctype html>
<html lang="en" class="no-js">
  <head>
    {% include head.html %}
    {% include head/custom.html %}
    <link rel="stylesheet" href="{{ '/assets/css/main.css' | relative_url }}">
    <script src="{{ '/assets/js/theme-switch.js' | relative_url }}" defer></script>
  </head>

  <body>
    {% include browser-upgrade.html %}
    {% include masthead.html %}
    {% if site.darkmode.enabled %}
      <div class="theme-switch-wrapper">
        <label class="theme-switch" for="checkbox">
          <input type="checkbox" id="checkbox" />
          <div class="slider round"></div>
        </label>
      </div>
    {% endif %}

    <div id="main" role="main">
      {% include sidebar.html %}

      <article class="page" itemscope itemtype="http://schema.org/CreativeWork">
        {% if page.title %}<meta itemprop="headline" content="{{ page.title | markdownify | strip_html | strip_newlines | escape_once }}">{% endif %}
        <div class="page__inner-wrap">
          <section class="page__content" itemprop="text">
            {{ content }}
          </section>
        </div>
      </article>
    </div>

    {% include scripts.html %}

    <script src="{{ '/assets/js/theme-switch.js' | relative_url }}" defer></script>

  </body>

  <footer style="text-align: center;">
    <p>
      © <span id="currentYear"></span> {{ site.copyright }}. All rights reserved. Last updated:
      <script>
          // 获取当前年份
          document.getElementById('currentYear').textContent = new Date().getFullYear();

          // 更新时间显示
          const monthNames = ["Jan", "Feb", "Mar", "Apr", "May", "Jun",
                             "Jul", "Aug", "Sep", "Oct", "Nov", "Dec"];
          var modiDate = new Date(document.lastModified);
          var showAs = monthNames[modiDate.getMonth()] + " " +
                      modiDate.getDate() + ", " + modiDate.getFullYear();
          document.write(showAs);
      </script>
    </p>
  </footer>

</html>
